# Dependencies
node_modules/

# Local environment variables
.env
.env.local

# Service accounts & Credentials
firebase-service-account.json
*.pem
*.key

# Server logs
logs/
*.log

# Database backups (if generated locally)
backups/
